# .gitignore
venv/
*.pyc
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.db
*.DS_Store
*.egg-info/
*.idea/
*.coverage
*.mypy_cache/
*.pytest_cache/
*.pyo
*.pyd
*.egg
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.swp
*.swo
*.bak
*.tmp
*.orig
*.pid
*.db-journal
*.coverage.*
htmlcov/
node_modules/
.python-version
.direnv/
.ruff_cache/
*.sql
*.dump

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Django/Wagtail artefakti
/static/
media/
.env
.env.*